<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8"/>
    <title><%= title %></title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>Bienvenido a <%= title %></h3>
    <p>El portal donde podrá crear sus propios juegos!!!</p>
    <!-- <a href="/quizes/question">Comienze a jugar </a> -->
  </body>
</html>
