<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	<title>Quiz</title>
</head>
<body>
	<!-- <h2>Quiz: El juego de las preguntas</h2> -->

	<%= respuesta %>
	<a href="/quizes/question">Intentelo otra vez </a>
</body>
</html>