<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Quiz</title>
</head>
<body>
	<h2>Autor:</h2>
	<p>Victor Hugo Espinoza Ruiz</p>
	<img src="https://scontent-mia1-1.xx.fbcdn.net/hphotos-frc3/v/t1.0-9/559833_546907025377064_1425280746_n.jpg?oh=cfaccf162baa772a7cbe16a20d273ae9&oe=565CCA1F">
</body>
</html>